@use '../../variables.scss' as mixin;

.header{
  // margin: 1.5rem 0;
  ul{
    display: flex;
    justify-content: space-between;
  }
  li{
    list-style-type: none;
  }
  a{
    text-decoration: none;
    font-size: 1.55rem;
    color: mixin.$secondaryColor;
    @media (max-width: mixin.$mobileBreakPoints){
      font-size: 1rem;
      margin: 0 10px;
    }
  }
}