$primaryColor: #18181b;
$secondaryColor: #2dc5b2;
$primaryTextColor: #f4f4f5;
$secondaryTextColor: #8d8d96;
$mobileBreakPoints: 450px;
$tabletBreakPoints: 720px;
$desktopBreakPoints: 1100px;
$headingFontSize: 48px;
$spaceY: 4rem 2rem 0 0;


